#form-modal {
    background-color: white;
    box-sizing: border-box;
    position: fixed;
    box-shadow: 0 0 5px #666;
    width: 500px;
    padding: 40px;
    left: calc(50vw - 250px);
    top: 20vh;
    z-index: 200;
    //display: none;
}

.input, .select {
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 35px;
    padding-left: 15px;
    margin-bottom: 15px;    
}
#guardar-form {
    width: 100%;
    color: white;
    background-color: teal;
    height: 35px;
    border: none;
    cursor: pointer;
}

#form-btn-cerrar {
    position: absolute;
    top:5px;
    right: 10px;
    color: white;
    background-color: teal;
    border: none;
    cursor: pointer;
    padding: 5px;
}

#guardar-form:hover {
    background-color: #007570
}